@charset "UTF-8";
//$ionicons-font-path: '/static/fonts' !default;
//$ionicons-font-family: 'Ionicons' !default;
//$ionicons-version: '4.3.0' !default;
//@import '../node_modules/ionicons/dist/scss/ionicons';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
